## Deliverable 2. Create a Customer Travel Destinations Map.

In [48]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [49]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Log,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Busselton,AU,-33.6500,115.3333,64.09,74,83,11.88,broken clouds
1,1,Tazovskiy,RU,67.4667,78.7000,31.57,70,82,7.90,broken clouds
2,2,Narsaq,GL,60.9167,-46.0500,36.84,79,9,6.82,clear sky
3,3,Araouane,ML,18.9048,-3.5265,94.71,22,64,9.24,broken clouds
4,4,Northam,GB,51.0333,-4.2167,56.08,83,100,6.04,overcast clouds

In [51]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [52]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Log,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Hithadhoo,MV,-0.6000,73.0833,82.71,75,100,16.24,overcast clouds
26,26,Auki,SB,-8.7676,160.7034,80.33,85,94,5.35,light rain
28,28,Alofi,NU,-19.0595,-169.9187,82.29,74,33,6.91,scattered clouds
32,32,Kapaa,US,22.0752,-159.3190,81.12,72,21,1.99,few clouds
33,33,Faanui,PF,-16.4833,-151.7500,80.33,70,23,1.10,few clouds
62,62,Las Choapas,MX,17.9333,-94.0833,80.91,78,34,2.51,scattered clouds
68,68,Port Hedland,AU,-20.3167,118.5667,80.65,34,99,18.41,overcast clouds
85,85,Sorong,ID,-0.8833,131.2500,83.82,76,13,12.93,few clouds
88,88,Avarua,CK,-21.2078,-159.7750,80.65,57,99,8.05,overcast clouds
95,95,Butaritari,KI,3.0707,172.7902,82.89,79,100,17.05,light rain

In [60]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

Unnamed: 0             0
City                   0
Country                0
Lat                    0
Log                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [61]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,Unnamed: 0,City,Country,Lat,Log,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Hithadhoo,MV,-0.6000,73.0833,82.71,75,100,16.24,overcast clouds
26,26,Auki,SB,-8.7676,160.7034,80.33,85,94,5.35,light rain
28,28,Alofi,NU,-19.0595,-169.9187,82.29,74,33,6.91,scattered clouds
32,32,Kapaa,US,22.0752,-159.3190,81.12,72,21,1.99,few clouds
33,33,Faanui,PF,-16.4833,-151.7500,80.33,70,23,1.10,few clouds
...,...,...,...,...,...,...,...,...,...,...
677,677,Dwarka,IN,22.2394,68.9678,83.43,78,100,14.14,overcast clouds
688,688,Teahupoo,PF,-17.8333,-149.2667,80.56,75,81,1.63,light rain
693,693,Ishigaki,JP,24.3448,124.1572,82.04,78,86,9.17,overcast clouds
697,697,Metro,ID,-5.1131,105.3067,84.87,68,89,5.93,overcast clouds
699,699,Awjilah,LY,29.1081,21.2869,82.02,22,21,6.67,few clouds

In [55]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Log"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = None
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Log,Hotel Name
8,Hithadhoo,MV,82.71,overcast clouds,-0.6000,73.0833,None
26,Auki,SB,80.33,light rain,-8.7676,160.7034,None
28,Alofi,NU,82.29,scattered clouds,-19.0595,-169.9187,None
32,Kapaa,US,81.12,few clouds,22.0752,-159.3190,None
33,Faanui,PF,80.33,few clouds,-16.4833,-151.7500,None
62,Las Choapas,MX,80.91,scattered clouds,17.9333,-94.0833,None
68,Port Hedland,AU,80.65,overcast clouds,-20.3167,118.5667,None
85,Sorong,ID,83.82,few clouds,-0.8833,131.2500,None
88,Avarua,CK,80.65,overcast clouds,-21.2078,-159.7750,None
95,Butaritari,KI,82.89,light rain,3.0707,172.7902,None

In [63]:
hotel_df = hotel_df.set_index(['index'])

KeyError: "None of ['index'] are in the columns"

In [66]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
count = 0
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    print(index)
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    log = row["Log"]
    params["location"] = f"{lat},{log}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    try:
        if hotels["results"] != []:
            print(hotels["results"][0]["name"])
            hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    # try:
    #    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # except (IndexError):
    #    print("Hotel not found... skipping.")

8
Scoop Guest House
26
Auki Motel
28
Taloa Heights
32
Sheraton Kauai Coconut Beach Resort
33
Bora-Bora Pearl Beach Resort & Spa
62
Hotel Jysmak
68
The Esplanade Hotel
85
waigo splash hotel
88
Paradise Inn
95
Isles Sunset Lodge
98
Paradise Bay Resort
103
KOSAN UNGU UNSIK
107
The Jamaica Pegasus Hotel
110
Hotel RIKMAN Continental
127
Hotels in Lakshadweep Islands
131
Shwe Phyu Hotel
135
ibis Styles Karratha
144
Storyboard Beach Resort
146
Groote Eylandt Lodge
153
Marriott's Ko Olina Beach Club
158
Gulisitan Hotel
161
فندق الله جابو
165
فندق أوباري
166
University Inn & Suites
172
Tinidee Hotel@Ranong
173
Aldea del Bazar Hotel and Spa
176
Holiday Inn Express & Suites Elk Grove Central - Hwy 99, an IHG Hotel
181
Case de Passage De la Prefecture
183
Airport Lodge Kiunga
192
Bungalow 63
195
Hotel Quinta Antigua
217
Shimoda Tokyu Hotel
225
Hotel Atoll Emerald Miyakojima
229
Ungoofaaru Inn
230
Welcomhotel By ITC Hotels, Bay Island, Port Blair
232
Niyama Private Islands Maldives
234
Grand Palladium Jamaica Resort & Spa
244
HS Hotsson Smart Acapulco
254
Kandrian Station
255
Pin Drop Hotel
262
Propiedad Lldm
275
Wangjiang Building
280
291
Days Inn by Wyndham Turlock
301
Cubanacan San Felix
311
Villa Arte Pousada Morro Branco
316
Divi Flamingo Beach Resort & Casino
320
Tsukigawaso Camping Ground
325
330
Maitai Lapita Village Huahine
362
363
Hotel Plaza Marsol
376
صاحبة الفخامة
383
Motel 6 Sinton, TX
387
Palais du chef Canton Salamt
396
414
Mercure Padang
416
425
East Arnhem Real Estate
427
Casa de Isabella
429
JM Lodge
445
478
Pudong Holiday Hotel
483
The Passage Samui Villas & Resort, Thailand
484
495
502
Amaloh Boutique Resort
503
HAMDAN PLAZA HOTEL SALALAH
517
525
Penginapan Kim
530
Swiss-Belhotel Ambon
540
asi es
545
A Beach Retreat On Casey Key
566
Morales Lodge
581
Rabaul Hotel
589
Laoyutang Resort
592
Ikathouse
601
Tateyama Seaside Hotel
614
620
Holiday Inn Shaoxing
632
Crowne Plaza Ordos
645
Ramah Kost KITA
649
HOTEL ISABELA
650
Applegate Inn
656
677
Hotel Narayan Avezika Comfort
688
Vanira Lodge
693
Hotel Peace Land Ishigakijima
697
OYO 3177 Wisma Lintang
699

In [71]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Log,Hotel Name
8,Hithadhoo,MV,82.71,overcast clouds,-0.6000,73.0833,Scoop Guest House
26,Auki,SB,80.33,light rain,-8.7676,160.7034,Auki Motel
28,Alofi,NU,82.29,scattered clouds,-19.0595,-169.9187,Taloa Heights
32,Kapaa,US,81.12,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
33,Faanui,PF,80.33,few clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
...,...,...,...,...,...,...,...
650,Atwater,US,82.51,clear sky,37.3477,-120.6091,Applegate Inn
677,Dwarka,IN,83.43,overcast clouds,22.2394,68.9678,Hotel Narayan Avezika Comfort
688,Teahupoo,PF,80.56,light rain,-17.8333,-149.2667,Vanira Lodge
693,Ishigaki,JP,82.04,overcast clouds,24.3448,124.1572,Hotel Peace Land Ishigakijima
697,Metro,ID,84.87,overcast clouds,-5.1131,105.3067,OYO 3177 Wisma Lintang

In [75]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [76]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Log"]]

In [77]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))